<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style-overide.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>School Bell</title>
 <style>

    .zil-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .zil-controls {
      display: flex;
      align-items: center;
      gap: 10px;
    }

</style>
</head>

<body>
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <nav class="col navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">
            Tuna Zil Programı
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarContent" class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Giriş</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ayarlar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('saatler') }}">Saatler</a>
                  <a class="dropdown-item" href="{{ url_for('zil') }}">Zil</a>
                </div>
              </li>
              <li class="nav-item">'
                <a class="nav-link" href="{{ url_for('toren') }}">Tören</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-danger" href="{{ url_for('hello_world') }}">Çıkış</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
<div class="container">
    <h1> Zil </h1>

    <div class="zil-container">
      <h3>Giriş Zili</h3>
      <div class="zil-controls">
        <input type="file" id="girisZiliInput">
        <input type="number" id="girisZiliSure" placeholder="Çalma Süresi (saniye)">
        <button class="btn btn-primary" onclick="cal('giris')"><i class="fas fa-play"></i></button>
        <button class="btn btn-secondary" onclick="dur('giris')"><i class="fas fa-pause"></i></button>
        <button class="btn btn-danger" onclick="sil('giris')"><i class="fas fa-trash"></i></button>
      </div>
    </div>

    <div class="zil-container">
      <h3>Öğretmen Zili</h3>
      <div class="zil-controls">
        <input type="file" id="ogretmenZiliInput">
        <input type="number" id="ogretmenZiliSure" placeholder="Çalma Süresi (saniye)">
        <button class="btn btn-primary" onclick="cal('ogretmen')"><i class="fas fa-play"></i></button>
        <button class="btn btn-secondary" onclick="dur('ogretmen')"><i class="fas fa-pause"></i></button>
        <button class="btn btn-danger" onclick="sil('ogretmen')"><i class="fas fa-trash"></i></button>
      </div>
    </div>

    <div class="zil-container">
      <h3>Çıkış Zili</h3>
      <div class="zil-controls">
        <input type="file" id="cikisZiliInput">
        <input type="number" id="cikisZiliSure" placeholder="Çalma Süresi (saniye)">
        <button class="btn btn-primary" onclick="cal('cikis')"><i class="fas fa-play"></i></button>
        <button class="btn btn-secondary" onclick="dur('cikis')"><i class="fas fa-pause"></i></button>
        <button class="btn btn-danger" onclick="sil('cikis')"><i class="fas fa-trash"></i></button>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script>
    var audioElements = {};

    function cal(zil) {
      var fileInput = document.getElementById(zil + 'ZiliInput');
      var durationInput = document.getElementById(zil + 'ZiliSure');
      var audio = new Audio(URL.createObjectURL(fileInput.files[0]));
      var duration = parseInt(durationInput.value) * 1000;

      audioElements[zil] = audio;
      audio.play();
      setTimeout(function() {
        dur(zil);
      }, duration);
    }

    function dur(zil) {
      var audio =document.getElementById(zil + 'ZiliInput');
      if (audioElements[zil]) {
        audioElements[zil].pause();
        audioElements[zil].currentTime = 0;
      }
    }

    function sil(zil) {
      var fileInput = document.getElementById(zil + 'ZiliInput');
      fileInput.value = "";
      if (audioElements[zil]) {
        audioElements[zil].pause();
        audioElements[zil].currentTime = 0;
        delete audioElements[zil];
      }
    }
  </script>


</body>

</html>